/* CSS files add styling rules to your content */

html, body{ height:100%; margin:0; }

body {
  font-family: "Quicksand", helvetica, arial, sans-serif;
  --main-bg-color: #fff5f7;
  --main-text-color: #333;
  background: url("https://cdn.glitch.com/b6b174b3-2c61-4c47-8475-d07397416ce2%2F97154_brushed-silver-background%20(1).webp?v=1577369275782");
  background-size: cover;
  background-repeat: repeat-y;
  opacity: 0;
  color: var(--main-text-color);
  margin-top: 0px;
}

p {
  margin: 0px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-1 {
  font-family: "Handlee";
}

.font-2 {
  font-family: "Dancing Script";
}

.font-3 {
  font-family: "Leckerli One";
}

.font-5 {
  font-family: "Meddon";
}

.font-sans {
  font-family: "Quicksand";
  text-transform: uppercase;
}

.j-and-c {
  text-align: justify;
  text-align-last: center;
}

h1 {
  padding: 0px;
  margin: 0px;
}

.container {
  max-width: 50vw;
  margin: auto;
}

.padded {
  padding: 0 10vw 0 10vw;
}

hr {
  border: none;
  border-top: 4px dotted var(--main-text-color);
}

.line {
  border: none;
  border-bottom: 1px solid var(--main-text-color);
}

.cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

nav a {
  padding: 0 0.2rem;
  text-decoration: none;
}

.cols > .line {
  flex-grow: 1;
}

.cols > .center-text {
  padding: 0 1rem 0 1rem;
}

.float-right {
  float: right;
}

.container-wide {
  max-width: 60vw;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 90vw;
    margin: auto;
  }
  .padded {
    padding: 5vw;
  }
}

summary {
  font-size: 1.2rem;
}

summary:focus {
  outline: 0px;
}

details p {
  padding-bottom: 1rem;
}

body { 
  display: flex; 
  flex-direction: column; 
}

main {
  margin-bottom: 2rem;
}

footer {
  margin-top: auto;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  padding: 0.2rem 1rem 0.2rem 1rem;
}

img {
  width: 100%;
  height: auto;
}