/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css?family=Handlee|Dancing+Script|Leckerli+One|Meddon|Quicksand&display=swap');


body {
  font-family: 'Quicksand', helvetica, arial, sans-serif;
  margin: 2em;
}

.font-1 {
  font-family: 'Handlee';
}

.font-2 {
  font-family: 'Dancing Script';
}

.font-3 {
  font-family: 'Leckerli One';
}

.font-5 {
  font-family: 'Meddon';
}

.font-sans {
  font-family: 'Quicksand';
  text-transform: uppercase;
}

.j-and-c {
  text-align: justify;
  text-align-last: center;
}

.container {
  max-width: 50vw;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 90vw;
  }
}

#modal {
  min-height: 100vh;
}